{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

{% if object == request.user %}

<div class="container">
  <div class="row">
    <div class="col">
      <h2><img src="/media/{{ user.profile_image }}" width="42" height="42" class="rounded-circle" />
        {{ user.username }}</h2>
    </div>
    <div class="col" style="text-align: right; margin-top: 5px">
      <!-- Action buttons -->
      <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
      <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
      <!-- End Action buttons -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr /><br /><br /></div>
  </div>
  <div class="row">
    <div class="col">
      <h4>My Friends</h4>
      <table class="table">
        <tr>
          <td></td>
          <td>UserName</td>
          <td>Name</td>
          <td>Friends Since</td>
          <td>Actions</td>
        </tr>
        {% for friend in object.get_friends %}
        <tr>
          <td><img src="/media/{{ friend.friend.profile_image }}" width="42" height="42" class="rounded-circle" /></td>
          <td>{{ friend.friend.username }}</td>
          <td>{{ friend.friend.first_name }} {{ friend.friend.last_name }}</td>
          <td>{{ friend.created|timesince }}</td>
          <td>
            <a class="btn btn-info btn-sm" href="mailto:{{ friend.friend.email }}" role="button">E-Mail</a>
          </td>
        </tr>
        {% endfor %}

      </table>
    </div>
    <div class="col">
      <h4>All Users</h4>
      <table class="table">
        <tr>
          <td></td>
          <td>UserName</td>
          <td>Name</td>
          <td>Actions</td>
        </tr>
        {% for user in object.get_all_users %}
        <tr>
          <td><img src="/media/{{ user.profile_image }}" width="42" height="42" class="rounded-circle" /></td>
          <td>{{ user.username }} {% if user.username == object.username %}<small>(ME)</small>{% endif %}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td></td>
        </tr>
        {% endfor %}

      </table>
    </div>
  </div>


  {% endif %}


</div>
{% endblock content %}